@using BookShop.Presentation.MVC.Models.ViewModels
@model RegisterViewModel

<div class="container mt-5" dir="rtl">
    <div class="card shadow-sm p-4" style="max-width: 600px; margin:auto; border-radius: 12px;">
        <h4 class="mb-4 text-center">فرم ثبت‌نام</h4>

        <form asp-action="Register" method="post">
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label">نام</label>
                <input asp-for="FirstName" class="form-control" placeholder="نام خود را وارد کنید" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LastName" class="form-label">نام خانوادگی</label>
                <input asp-for="LastName" class="form-control" placeholder="نام خانوادگی خود را وارد کنید" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Mobile" class="form-label">شماره موبایل</label>
                <input asp-for="Mobile" class="form-control" placeholder="مثلاً 09123456789" required />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Username" class="form-label">نام کاربری (اختیاری)</label>
                <input asp-for="Username" class="form-control" placeholder="نام کاربری دلخواه" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label">رمز عبور</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور را وارد کنید" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label d-block">نوع حساب کاربری</label>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="IsAdmin" id="user" value="false" checked>
                    <label class="form-check-label" for="user">کاربر عادی</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="IsAdmin" id="admin" value="true">
                    <label class="form-check-label" for="admin">مدیر (ادمین)</label>
                </div>

                <span asp-validation-for="IsAdmin" class="text-danger"></span>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">ثبت نام</button>
            </div>
        </form>
        <div id="message-box" class="mt-4 text-center text-sm">
            <div style="color:red">@ViewBag.Error</div>
        </div>
    </div>
</div>
